!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
  %body
    %h1
      Hello #{@admin_user.name}
    %p
      You recently created the store #{@store.name} on #{@store.created_at}.
      Your store is currently #{@store.status} and we are reviewing your application now.  We will let you know when your store has been either approved or declined.