<h1>Hey there <%= @email %>,</h1>
<br />
<p>Looks like <%= @store_name %> wants to hire you to be a <%= @role %>!</p>

<p>We don't know how much they're paying, but if you want to take the job, follow this link and sign up at <%= link_to 'StoreEngine', new_user_url %></p>

<p>Hope they pay better than we do.</p>

<p>Love,</p>
<p>StoreEngine</p>