<body>
  <h2>What's up <%= @user.name %>!</h2>

  <p>We're very excited to have you in our community. Take some time to browse around the different stores on Store Engine, or create one yourself!</p>7
</body>