<h1>Bienvenue! Your store is ready!</h1>

<p>Dear <b><%=@user.name%></b>,</p>

<p>Ze admins have decided that <b><%=@store.name%></b> meets the rigorous requirements for entry into Chez Pierre.</p>

<p>Regards,</p>
<p><em>Chef Pierre</em></p>

