= "Hi #{@store.users.first.name}, "

| Your store (
= @store.name
| ) at 
= "http://storeberry.herokuapp.com/#{@store.slug} has been created."

| You will be notified when your status is updated.

Thanks,
Storeberry