<h1>Bienvenue! Your store has been created and is awaiting approval!</h1>

<p>Dear <b><%=@user.name%></b>,</p>

<p> Ze admins are very busy. We will notify you when the status of <b><%=@store.name%></b> is updated.</p>

<p>Regards,</p>
<p><em>Chef Pierre</em></p>
