<h1>Attencion! Your store has been rejected you salacious knave!</h1>

<p>Dear <b><%=@user.name%></b>,</p>

<p> Your idea for <b><%= @store.name %></b> was garbage! We cannot pollute the halls of chez pierre with this filth.</p>

<p>Regards,</p>
<p><em>Chef Pierre</em></p>
