.page_header
  %h1 Search Products
%hr
%ul.thumbnails
  -@products.each_slice(2) do |items_for_row|
    %li.span6
      = render :partial => 'products/list', :collection => items_for_row, :as => :product