<h1>Thanks <%=@user.full_name %>!</h1>

<p>You're the proud new parent of a son of store engine!</p>

<h2>Store Name: <%= @store.name %></h2>
<h3>Store Description: <%= @store.description %></h3>
<h3>Store URL ID: <%= @store.slug %></h3>

<p>Now get in there and start making some moolah!</p>
