= "You have been removed as an admin from #{@store.name}"
= "==============================================="

= "An administrator for #{@store.name} has removed you"
= "as an administrator for the store."

= "To reinstate your administrator privileges,"
= "please contact the store's owner or primary administrator."

= "Thank you for using sonofstoreengine.com!"