= "Your new admin privilieges for #{@store.name}"
= "==============================================="

= "You have been successfully added as an administrator"
= "for #{@store.name}, a sonofstoreengine.com store!"

= "To access your new privileges and abilities,"
= "please visit #{@store.name} at sonofstoreengine.com,"
= "and login using your regular email addess and password."

= "Your new administrator privileges will be accessible"
= "under the admin dashboard link in the navigation menubar."
= "Thank you for using sonofstoreengine.com,"
= "and enjoy administering #{@store.name}!"
