= "Create a sonofstoreengine account!"
= "==============================================="

= "A store administrator for #{@store.name} has recently"
= "tried to name you as an administrator for their store!"

= "To complete this process, please register for an account"
= "at #{@url}."

= "Thank you for your time, and we hope to see you soon!"