= form_for [:admin, @store], :url => add_user_admin_stores_path do |f|
  %legend Add new Users
  = f.label :user, "Email"
  = f.text_field :user
  =# f.label :user_permission, "Admin? Defaults to store stocker"
  =# f.check_box :user_permission
  %br
  %br
  = f.submit "Add User", :class => "btn btn-primary"