<h1>Zut! Attencion!</h1>

<h3>You are no longer a <b><%= @role.capitalize %></b> for <%= @store.name.capitalize %>.</h3>

<p>Your performance of late has been dismal. <%= @store.name.capitalize %> no longer wants you around. Beat it dirtbag. </p>

<p>Regards,</p>
<p><em>Chef Pierre</em></p>
