<h1>Zut! Attencion!</h1>

<p>The users are pounding on the door and goods are flying off the shelves! We need your help to keep <%= @store.name %> up and running!</p>

<p>Grab your <i>toque</i> and head over to <%= link_to "the store dashboard", "http://#{@store.url_name}.myapp.dev/admin/dashboard" %> to do your part!</p>

<p>Regards,</p>
<p><em>Chef Pierre</em></p>