<h1>Zut! Alors! We cannot keep up with this demand!</h1>

<p>The users are pounding on the door and goods are flying off the shelves! We need your help to keep <%= @store.name %> up and running!</p>

<p>Grab your <i>toque</i> and head over to <%= link_to "the registration page", "http://#{@store.url_name}.myapp.dev/signup" %> to join the cause!</p>

<p>Regards,</p>
<p><em>Chef Pierre</em></p>