<h1>Sorry <%=@user.full_name %>!</h1>

<p>You're NOT the proud new parent of a son of store engine!</p>

<h2>Store Name: <%= @store_name %></h2>
<h3>Store Description: <%= @store_description %></h3>
<h3>Store URL ID: <%= @store_slug %></h3>

<p>Please get a better idea and try again.</p>
