<h1>Congratulations! You've been made available to the work force.</h1> 
<br />
<p>Buy yourself a new pair of interview shoes!  Then find some work, slacker.</p>
<br />
<h2>You are now an individual of leisure.</h2>
