= link_to "Sign up", new_user_registration_path, :class => 'btn btn-primary'
= link_to "Log in", new_user_session_path, :class => 'btn btn-primary'
= link_to "Checkout as guest", checkout_path, :class => 'btn btn-primary'
