= "You have been removed as a stocker from #{@store.name}"
= "==============================================="

= "An administrator for #{@store.name} has removed you"
= "as a stocker for the store."

= "To reinstate your stocker privileges,"
= "please contact the store's owner or primary administrator."

= "Thank you for using sonofstoreengine.com!"