@import "bootstrap";

/* universal */

body { background: #F4F5ED url("http://hungryacademy.com/images/noise.png") repeat top left; }
#static { height: 500px; }
h1#home { color: #46433A; font-size: 50px; font-weight: 400; margin-bottom: 40px; }
ul#home { list-style-type: none; font-size: 20px; }
ul#home li { padding: 15px 0; }
#form_header { margin-bottom: 20px; }
.navbar-fixed-bottom { margin-top: 40px; border-top: 1px dotted #999; padding-top: 5px; color: #999; }
form input[type="checkbox"] { float: left; margin-right: 5px; }
.nav-pills li:first-child { padding: 0 3px 0 0; }
.nav-pills li { padding: 0 3px; }
.nav-pills .active > a, .nav-pills .active > a:hover { background-color: #64B6B1 !important; }
h6 .label a { color: #fff; }
.italicize { font-style: italic; color: #595959; }

html {
  overflow-y: scroll;
}

body {
  padding-top: 60px;
}

section {
    overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
}

.center h1 {
  margin-bottom: 10px;
}

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
}

h2 {
  font-size: 1.7em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  font-weight: normal;
  color: #999;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}

/* header */

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
  line-height: 1;
}

#logo:hover {
  color: #fff;
  text-decoration: none;
}

/* footer */

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid #eaeaea;
  color: #999;
}

footer a {
  color: #555;
}  

footer a:hover { 
  color: #222;
}

footer small {
  float: left;
}

footer ul {
  float: right;
  list-style: none;
}

footer ul li {
  float: left;
  margin-left: 10px;
}

input, textarea, select, .uneditable-input{
  width: 400px
}

input.product_name{
  width: 280px
}

input.product_price{
  width: 105px
}

textarea{
  height:150px
}

input.cart_product_quantity{
  width:50px
}

li.stores#show{
  display:inline;
  margin: 0 1em 0 0;
}