= "Hi #{@user.name}, "

= "You have been added as a store stocker for #{@user.stores.last.name}"

= "You can access the store at http://storeberry.herokuapp.com/#{@user.stores.last.name.downcase}/admin/products"

Thanks,
Storeberry