= "Hi #{@user.name}, "

= "You have been added as a store admin for #{@user.stores.last.name}"

= "You can access the store at http://storeberry.herokuapp.com/#{@user.stores.last.name.downcase}/admin/"

Thanks,
Storeberry