p = "Hi #{@user.name}, "

p = "You have been added as a store admin for #{@user.stores.last.name}"

p = "You can access the store at http://storeberry.herokuapp.com/#{@user.stores.last.name.downcase}/admin/"

p Thanks,
p Storeberry