<table>
  <th>Category Name</th>
  <th><th>
  <% @categories.each do |c| %>
    <tr>
      <td><%= link_to c.name, category_path(c) %> </td>
      <td><%= link_to "Edit this category", edit_admin_category_path(c) %></td>
    </tr>
  <% end %>
</table>
  <%= link_to 'Create a new category', new_admin_category_path, class: "btn btn-primary" %>