@import "bootstrap";

body { padding-top: 100px;
       padding-left: 25px;
       font-size: 14px;
       font-family: "Helvetica Neue", Helvetica, sans-serif;
}

ul, li, p, table, th, tr, td{
  font-size: 14px;
} 

.navbar{ 
  width: 100%;
  padding-bottom: 10px
}
.navbar-inner{ 
  padding-bottom: 10px;
}

li.nav{
  display:inline;
  margin: 1em 1em 0 0;
}

li.nav.brand{ 
  float: left;
  font-size: 40px;
}

li.categories{
  display:inline;
  margin: 0 1em 0 0;
}

li.nav#right
{
  float: right;
  padding:10px;
}

li.nav a.btn {
  font-size:15px;
  margin-right: 14px;
}

li.nav#right_big
{
  float: right;
  font-size: 28px;
}

li.dashboard#show{
  display:inline;
  margin: 0 1em 0 0;
}

ul{overflow:hidden}

table.product{
  text-align: center;
  height: 200px;
}

th#cart{
  text-align: left;
  width: 60px;
  font-size: 14px;
}

th#dashboard{
  text-align: left;
  width: 100px;
}

th.dashboard#id{
  text-align: left;
  width:100px;
}

th.dashboard#status{
  text-align: left;
  width: 100px;
}

th.dashboard#created{
  text-align: left;
  width: 180px;
}

th.dashboard#actions{
  text-align: left;
  width: 50px; 
}

th.categories{
  text-align: left;
  width: 100px;
}

tr.dashboard{
  border-top: 1px solid black;
  height: 50px;
}

td#text{
  text-align:right;
}

h3.tagline {
  font-size: 30px;
  margin:20px;
}

.tutorial a {
  float:left;
  display:block;
  width:300px;
  height:300px;
  text-indent:-424242px;
}

.tutorial a#create_store {
  background:url('create_store.jpg') no-repeat top left;
}
.tutorial a#add_products {
  background:url('add_products.jpg') no-repeat top left;
}
.tutorial a#sell_online {
  background:url('sell_online.jpg') no-repeat top left;
}
.tutorial a#create_store:hover {
  background:url('create_store_on.jpg') no-repeat top left;
}
.tutorial a#add_products:hover {
  background:url('add_products_on.jpg') no-repeat top left;
}
.tutorial a#sell_online:hover {
  background:url('sell_online_on.jpg') no-repeat top left;
}

#user_name_link{ 
  margin-right: 10px;
}

#admin_name{ 
  margin-right: 20px;
}
