// Place all the styles related to the Products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.products-listing{ 
  width: 90%;
  padding-left: 10%;
}

.indiv-product{ 
  display: inline-block;
  padding: 25px;
}

.product-details{ 
  display: block;
  position: absolute;
  width: 100%;
  top: -100px
  font-size: 16px;
}

.product-thumbnail{ 
  height: 100%;
  width: 100%;
}

#prod-index-title{ 

}

#prod-index-price{ 

}

#prod-index-cart{ 
  float: right;
}
