body {
  background-image: url('http://2.bp.blogspot.com/_dlvxrPCkxvI/TU8aOXakZ9I/AAAAAAAACWc/P8BsVzPoOuU/s1600/stockvault_2109_20070301.jpg');
}

#content {
  background-color:rgba(205,201,201,0.95);
  padding: 20px;
}

div.product-titles {
  background: #DDD;
  font-size: 15px;
  padding: 5px;
}

div.product-listing {
  background: white;
  font-size: 13px;
  padding: 3px;
}

.order-total {
  text-align: right;
  padding-right: 80px;
}

div#droppable {
  width: 200px;
  height: 200px;
  padding: 30px; 
  float: right;
  border: 3px dotted grey;
  margin-top: 50px;
}

input#order_item_quantity {
  width: 60px;
  margin-top: -20px;
}

.order-quantity-submit {
  padding-left: 10px;
  padding-right: 10px;
}