div.product-titles {
  background: #DDD;
  font-size: 15px;
  padding: 5px;
}

div.product-listing {
  background: white;
  font-size: 13px;
  padding: 3px;
}

.order-total {
  text-align: right;
  padding-right: 80px;
}

div#droppable {
  width: 200px;
  height: 200px;
  padding: 30px; 
  float: right;
  border: 3px dotted grey;
  margin-top: 50px;
}