body {
background-color: #E9F2F9;
}

#content {

}

a.dropdown-toggle {

}

div.product-titles {
  background: #DDD;
  font-size: 15px;
  padding: 5px;
}

div.product-listing {
  background: white;
  font-size: 13px;
  padding: 3px;
}

.order-total {
  text-align: right;
  padding-right: 80px;
}

div#droppable {
  width: 200px;
  height: 200px;
  padding: 30px; 
  float: right;
  border: 3px dotted grey;
  margin-top: 50px;
}

input#order_item_quantity {
  width: 60px;
  margin-top: -20px;
}

.order-quantity-submit {
  padding-left: 10px;
  padding-right: 10px;
}

.product-box {
  width: 250px;
  height: 250px;
  display: inline-block;
  margin: 15px;
  position: relative;
  overflow: hidden;
  vertical-align: top;
}

.price {
  float: right;
  padding-right: 10px;
}

.title {
  padding-left: 10px;
}

.product-box-text {
  margin-top: 219px;
  background-color: #9CC4E4;
  opacity: .95;
  padding-top: 8px;
  padding-bottom: 10px;
  height: 52px;

  -webkit-transition: all 0.15s ease-in-out;
  -moz-transition: all 0.15s ease-in-out;
  -o-transition: all 0.15s ease-in-out;
  -ms-transition: all 0.15s ease-in-out;
  transition: all 0.15s ease-in-out;
}

.product-box:hover .product-box-text {
  margin-top: 180px;
}

.title > a {
  text-decoration: none;
  color: #E9F2F9;
  font-size: 130%;
}

.price {
  color: #E9F2F9;
  font-size: 130%;
}

.description {
  color: #E9F2F9;
  font-size: 130%;
  padding-left: 10px;
}

#footer {
  margin-top: 10px;
  height: 52px;
  background-color: white;
  font-size: 150%;
  color: #666;
  padding-top: 20px;
  padding-right: 60px;
  padding-left: 60px;
  border-top-width: 3px;
  border-color: #D8D8D8;
  border-top-style: solid;
}

.right {
  float: right;
}

.left {
  float: left;
}