<div class="page-header">
<h1><%= current_store.name %></h1>
</div>
<h1>Category Title</h1>

<%= simple_form_for([current_store, @category]) do |f| %>
    <%= f.input :title, :label => false %>
    <%= f.button :submit %>
<% end %>
