<h1>Category</h1>

<p>
  <b>Name</b><br>
  <%= @category.name %>
</p>

<div class="form-actions">
  <%= link_to 'Edit', edit_category_path(@product), :class => 'btn' %>
  <%= link_to 'Delete', category_path(@product), :method => 'delete', :confirm => 'Are you sure?', :class => 'btn btn-danger' %>
</div>
