<h1>PRODUCTS INDEX PRODUCTS INDEX PRODUCTS INDEX PRODUCTS INDEX PRODUCTS INDEX PRODUCTS INDEX PRODUCTS INDEX PRODUCTS INDEX PRODUCTS INDEX</h1>

<% @products.each do |product| %>
  <%= link_to product.title, product_path(product) %>
<% end %> 
