#footer 
  .footer-text
    &copy; Polutropon Inc.
    Produced by 
    = link_to "Chris Anderson", "https://github.com/chrismanderson"
    = link_to "Mike Silvis", "http://mikesilvis.com"
    = link_to "Michael Verdi", "https://twitter.com/#!/verdi_michael"
    = link_to "Elise Worthy", "http://eliseworthy.com"

  %img{:src => "/assets/stig.jpeg"}/ 

